
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.topbar .user {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
}

.topbar-profile {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
}


.info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.info-box {
    background: #fff;
    padding: 20px;
    border-radius: 6px;
}

.info-box h4 {
    margin-bottom: 15px;
}

.info-box ul {
    list-style: none;
    padding: 0;
}

.info-box li {
    margin-bottom: 10px;
}

.info-box i {
    width: 20px;
    margin-right: 8px;
    color: #555;
}
