* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  background: #f8f9fc;
  color: #333;
}

/* WRAPPER */
#wrapper {
  display: flex;
  min-height: 100vh;
}


/* SIDEBAR */
.sidebar {
  width: 250px;
  background: #b81414;
  color: #fff;
  padding: 20px 0;
}

.sidebar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 30px;
}

.sidebar-brand i {
  margin-right: 10px;
}

.sidebar a {
  display: block;
  padding: 12px 25px;
  color: rgba(255,255,255,0.85);
  text-decoration: none;
  font-size: 14px;
}

.sidebar a i {
  margin-right: 10px;
}

.sidebar a:hover,
.sidebar a.active {
  background: rgba(255,255,255,0.15);
  color: #fff;
}

/* CONTENT */
.content {
  flex: 1;
  padding: 20px;
}

/* TOPBAR */
.topbar {
  background: linear-gradient(135deg, #ffffff, #f8f9fc);
  padding: 14px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  margin-bottom: 25px;
}

/* Judul */
.topbar h1 {
  font-size: 20px;
  font-weight: 700;
  color: #333;
  letter-spacing: 0.3px;
  margin: 0; 
}



/* FOTO PROFIL */
.topbar-profile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #b81414;
}

/* TEKS USER */
.topbar .user span {
  font-size: 14px;
  font-weight: 600;
  color: #444;
  white-space: nowrap;
}

/* TEXT CONTAINER */
.user-text {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

/* GREETING */
.user-text small {
  font-size: 17px;
  color: #888;
  font-weight: 500;
}

/* USERNAME / EMAIL */
.user-text strong {
  font-size: 17px;
  color: #333;
  font-weight: 700;
}



/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-bottom: 25px;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.card-title {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 24px;
}

.card i {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 30px;
  color: #ddd;
}

/* CARD COLORS */
.border-primary { border-left: 5px solid #4e73df; }
.border-success { border-left: 5px solid #1cc88a; }
.border-info    { border-left: 5px solid #36b9cc; }
.border-warning { border-left: 5px solid #f6c23e; }

/* GRID */
.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.box {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.box.large {
  min-height: 250px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 12px 0;
    background: transparent;
    color: #555;
}